@page
@model MMNVS.Pages.VirtualServers.DetailsModel

@{
    ViewData["Title"] = "Stav VM";
}

@if (Model.SuccessMessage != null)
{
    <div class="alert alert-success">@Model.SuccessMessage</div>
}
@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<h2>Stav virtuálního serveru @Model.VirtualServer.Name</h2>

<div>
    @if(Model.StateData != null) {
            @foreach(var s in Model.StateData)
{
    <pre>@s</pre>
}
    }

    <a asp-page="./Edit" asp-route-id="@Model.VirtualServer.VMId">Upravit</a> |
    <a asp-page="./Index">Zpět</a>
</div>

