@page
@model MMNVS.Pages.Hosts.StorageServers.Datastores.IndexModel

@{
    ViewData["Title"] = "Datastory";
}

<h1>Datastory</h1>

<h4>na storage serveru @Model.StorageServer.Name</h4>

<p>
    <a asp-page="Create" asp-route-storageServerId=@Model.StorageServer.Id>Přidat nový</a>
</p>
<table class="table text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datastore[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datastore[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Datastore) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" asp-route-storageServerId = "@Model.StorageServer.Id">Upravit</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id" asp-route-storageServerId = "@Model.StorageServer.Id">Odstranit</a>
            </td>
        </tr>
}
    </tbody>
</table>
